$white: 
	(#ffffff, #eeeeee, #dddddd, #cccccc, #bbbbbb, #aaaaaa, #999999, #888888)
	(#f7f7f7, #e6e6e6, #d5d5d5, #c4c4c4, #b3b3b3, #a2a2a2, #919191, #808080);
$black: 
	(#777777, #666666, #555555, #444444, #333333, #222222, #111111, #000000)
	(#6f6f6f, #5e5e5e, #4d4d4d, #3c3c3c, #2b2b2b, #1a1a1a, #090909, #000000);
$red:
	(#ffbfc3, #ff6a73, #c5004a, #b00030, #700010, #4a0000, #300000, #080000)
	(#ff7e5e, #f73100, #e00000, #c60000, #a50000, #8b0010, #700000, #600000);
$green:
	(#60a4a4, #4c8686, #407070, #006262, #004040, #002f2f, #002020, #001010)
	(#b3ccc4, #80aa9c, #639484, #528473, #427352, #315242, #243d31, #103121)
	(#91ffd6, #5effc3, #00e690, #00b370, #008050, #005030, #004020, #002f18)
	(#4cff9b, #00f66d, #00c357, #009040, #006010, #004f0d, #004f0d, #002d08)
	(#a0e090, #80c070, #60a050, #307020, #305020, #204010, #103000, #002000)
	(#ebeba2, #dede6b, #d5d541, #acac26, #739420, #527320, #364b15, #23310e)
	(#f0f0e0, #d0e0a0, #90a060, #708040, #5c6935, #485329, #353c1e, #212513);
$blue: 
	(#bde5ff, #60c0f0, #0090f0, #0060f0, #0030d0, #002080, #001060, #000040)
	(#63a3f9, #3286f7, #0963dc, #074dab, #05377a, #042c62, #032149, #021a39)
	(#e4f4ff, #8fd2ff, #3ab0ff, #0089e4, #0060a0, #00416d, #002040, #001929)
	(#c2dae6, #a9c8e0, #91bdd3, #60a0c0, #408090, #30616d, #214149, #112226)
	(#84b1d2, #5e99c5, #4080b0, #005070, #00384e, #002c3d, #022532, #001b26);
$brown:
	(#e6f6d5, #dedec5, #d5cdb4, #bda483, #7f6331, #665028, #41331a, #292010)
	(#ffdea4, #f6c573, #b49441, #807020, #524110, #44360d, #362a0a, #271f08);
$purple:
	(#d7d3e9, #9a8fc7, #6050a0, #404080, #303060, #202050, #101040, #100020)
	(#d0e0d0, #b0b0c0, #998ba4, #806090, #5e3c83, #552288, #302070, #110033)
	(#9200e3, #8200c3, #7100b2, #610092, #510082, #410071, #300051, #200041);
$pink:
	(#e300e3, #c300c3, #b200b2, #920092, #820082, #610071, #510051, #410041)
	(#ff9dd9, #ff37b2, #d00080, #900060, #6e0049, #5d003e, #441122, #300010)
	(#f3d3f3, #f3b2f3, #f392f3, #f371f3, #f351f3, #c320a2, #c32051, #c32020);
$yellow:
	(#ffc20c, #e6a400, #f89100, #c76000, #923e00, #6f1a00, #490000, #400000)
	(#fff6d9, #f0f0b0, #f6e6a4, #fbd156, #ffb655, #ffa833, #ff9911, #e06000)
	(#ffff66, #f2bd54, #eda515, #d09010, #a06000, #703000, #5f2900, #301000);