.mtd-form {
	padding: 10px;
	>.container-input {
		padding: 10px;
		>.label { display: block; text-align: left; }
		>.input {
			display: block; width: 100%; padding: 8px;
		}
		>textarea.input {
			min-height: 200px; resize: none;
		}
	}
	>.feedback-messages {
		padding: 10px; margin: 0; font-size: 0px;
		>.message { display: block; line-height: 24px; font-size: initial;
		text-align: left; }
	}
}