@mixin mtd-modal($visibility, $opacity, $paddingTop) {
	font-size: 0px; padding-top: $paddingTop;
	background-color: black; background-color: rgba(0, 0, 0, .8);
	position: fixed; z-index: 999; top: 0; right: 0; bottom: 0; left: 0;
	visibility: $visibility; opacity: $opacity; transtion: .25s;
	>.panel {
		max-width: 640px; margin: 0 auto;
		>.container-title {
			text-align: right; padding-left: 16px; line-height: 38px;
			background-color: nth(nth($black, 1), 7);
			color: nth(nth($white, 2), 1);
			>.title { 
				float: left;
				display: inline-block;
				font-size: 18px;
			}
			>.btn-close { 
				background-color: nth(nth($black, 1), 7);
				color: nth(nth($white, 2), 8);
				text-decoration: none;
				text-align: center; 
				font-size: 18px; display: inline-block; width: 44px;
				height: 44px;
				&:hover { color: nth(nth($white, 2), 6); }			
			}
		}
		>.container-content {
			background-color: nth(nth($white, 1), 1);
			font-size: 14px; padding: 16px;
		}
	}
}
.mtd-modal-opened { @include mtd-modal(visible, 1, 60px); }
.mtd-modal-closed { @include mtd-modal(hidden, 0, 0); }