$lg: 1080px;
$md: 768px;
$sm: 640px;

.ta-left { text-align: left; }
.ta-right { text-align: right; }
.ta-center { text-align: center; }
.ta-justify { text-align: justify; }
.mw-1080 { margin: 0 auto; max-width: $lg; }
.mw-768 { margin: 0 auto; max-width: $md; }
.mw-640 { margin: 0 auto; max-width: $sm; }

@media all and (min-width: ($md + 1px)) {
	.lg-hide { display: none !important; }
}
@media all and (max-width: $md) and (min-width: ($sm + 1px)) {
	.md-hide { display: none !important; }
}
@media all and (max-width: $sm) {
	.sm-hide { display: none !important; }
}

@mixin ib-t { display: inline-block; vertical-align: top; }
@mixin ib-m { display: inline-block; vertical-align: middle; }
@mixin ib-b { display: inline-block; vertical-align: bottom; }

@mixin w-005 { width: 005%; } @mixin w-010 { width: 010%; }
@mixin w-015 { width: 015%; } @mixin w-020 { width: 020%; }
@mixin w-025 { width: 025%; } @mixin w-030 { width: 030%; }
@mixin w-035 { width: 035%; } @mixin w-040 { width: 040%; }
@mixin w-045 { width: 045%; } @mixin w-050 { width: 050%; }
@mixin w-055 { width: 055%; } @mixin w-060 { width: 060%; }
@mixin w-065 { width: 065%; } @mixin w-070 { width: 070%; }
@mixin w-075 { width: 075%; } @mixin w-080 { width: 080%; }
@mixin w-085 { width: 085%; } @mixin w-090 { width: 090%; }
@mixin w-095 { width: 095%; } @mixin w-100 { width: 100%; }
@mixin w-033 { width: 33.333333%; } @mixin w-066 { width: 66.666666%; }

.mtd-row {
	>[class*='0-t'], >[class*='3-t'], >[class*='5-t'], >[class*='6-t'] { @include ib-t; font-size: initial; }
	>[class*='0-m'], >[class*='3-m'], >[class*='5-m'], >[class*='6-m'] { @include ib-m; font-size: initial; }
	>[class*='0-b'], >[class*='3-b'], >[class*='5-b'], >[class*='6-b'] { @include ib-b; font-size: initial; }
	
	>[class*='lg-005-'] { @include w-005; } >[class*='lg-010-'] { @include w-010; }
	>[class*='lg-015-'] { @include w-015; } >[class*='lg-020-'] { @include w-020; }
	>[class*='lg-025-'] { @include w-025; } >[class*='lg-030-'] { @include w-030; }
	>[class*='lg-035-'] { @include w-035; } >[class*='lg-040-'] { @include w-040; }
	>[class*='lg-045-'] { @include w-045; } >[class*='lg-050-'] { @include w-050; }
	>[class*='lg-055-'] { @include w-055; } >[class*='lg-060-'] { @include w-060; }
	>[class*='lg-065-'] { @include w-065; } >[class*='lg-070-'] { @include w-070; }
	>[class*='lg-075-'] { @include w-075; } >[class*='lg-080-'] { @include w-080; }
	>[class*='lg-085-'] { @include w-085; } >[class*='lg-090-'] { @include w-090; }
	>[class*='lg-095-'] { @include w-095; } >[class*='lg-100-'] { @include w-100; }
	>[class*='lg-033-'] { @include w-033; } >[class*='lg-066-'] { @include w-066; }
}
@media all and (max-width: $md) {
	.mtd-row {		
		>[class*='md-005-'] { @include w-005; } >[class*='md-010-'] { @include w-010; }
		>[class*='md-015-'] { @include w-015; } >[class*='md-020-'] { @include w-020; }
		>[class*='md-025-'] { @include w-025; } >[class*='md-030-'] { @include w-030; }
		>[class*='md-035-'] { @include w-035; } >[class*='md-040-'] { @include w-040; }
		>[class*='md-045-'] { @include w-045; } >[class*='md-050-'] { @include w-050; }
		>[class*='md-055-'] { @include w-055; } >[class*='md-060-'] { @include w-060; }
		>[class*='md-065-'] { @include w-065; } >[class*='md-070-'] { @include w-070; }
		>[class*='md-075-'] { @include w-075; } >[class*='md-080-'] { @include w-080; }
		>[class*='md-085-'] { @include w-085; } >[class*='md-090-'] { @include w-090; }
		>[class*='md-095-'] { @include w-095; } >[class*='md-100-'] { @include w-100; }
		>[class*='md-033-'] { @include w-033; } >[class*='md-066-'] { @include w-066; }
	}
}
@media all and (max-width: $sm) {
	.mtd-row {		
		>[class*='sm-005-'] { @include w-005; } >[class*='sm-010-'] { @include w-010; }
		>[class*='sm-015-'] { @include w-015; } >[class*='sm-020-'] { @include w-020; }
		>[class*='sm-025-'] { @include w-025; } >[class*='sm-030-'] { @include w-030; }
		>[class*='sm-035-'] { @include w-035; } >[class*='sm-040-'] { @include w-040; }
		>[class*='sm-045-'] { @include w-045; } >[class*='sm-050-'] { @include w-050; }
		>[class*='sm-055-'] { @include w-055; } >[class*='sm-060-'] { @include w-060; }
		>[class*='sm-065-'] { @include w-065; } >[class*='sm-070-'] { @include w-070; }
		>[class*='sm-075-'] { @include w-075; } >[class*='sm-080-'] { @include w-080; }
		>[class*='sm-085-'] { @include w-085; } >[class*='sm-090-'] { @include w-090; }
		>[class*='sm-095-'] { @include w-095; } >[class*='sm-100-'] { @include w-100; }
		>[class*='sm-033-'] { @include w-033; } >[class*='sm-066-'] { @include w-066; }
	}
}
.mtd-row { font-size: 0px; }
.mtd-row .mtd-row { font-size: 0px; }