<form class='mtd-form mtd-row lg-075-m'>
	<div class='container-input lg-100-b'>
		<label class='label'>Nome:</label>
		<input type='text' class='input'/>
	</div>
	<div class='container-input lg-050-b'>
		<label class='label'>Nome:</label>
		<input type='text' class='input'/>
	</div>
	<div class='container-input lg-050-b'>
		<label class='label'>Nome:</label>
		<input type='text' class='input'/>
	</div>
	<ul class='feedback-messages lg-070-b'>
		<li class='message'>Caracteres inválidos</li>
		<li class='message'>Senha inválida</li>
	</ul>
	<div class='container-input ta-right lg-030-b'>
		<a href='javascript:;' class='btn1-blue2'>Enviar</a>
	</div>
</form>